/* General Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Nunito, Arial, sans-serif;
  background-color: #f3f2f2;
}

::-webkit-scrollbar {
  width: 8px;
  border-left: black solid 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #01b4fa7e;
}

::-webkit-scrollbar-thumb:hover {
  background: #63f8fd7e;
}

/* Container Styles */
.container {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 33%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.center100 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flexcenter {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input and Button Styles */
.inputMain {
  width: 80%;
  padding: 3%;
  margin: 3% 0;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.mainHeader {
  font-size: 2em;
  background: linear-gradient(0deg, rgba(0, 0, 255), rgb(0, 238, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotateBackground {
  to {
    --angle: 360deg;
  }
}
.buttonMain {
  background-image: none;
  background-color: #0184ff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-family: Nunito;
  font-weight: 1000;
  border: none;
  color: black;
  display: block;
  font-size: 2em;
  cursor: pointer;
}

.divMain {
  display: inline-block;
  animation: rotateBackground 1s linear infinite;

  padding: 0.5% 1%;
  width: 50%;
  height: 20%;

  background-color: #6bfaff;
  border-radius: 10px;
  color: black;
  font-size: 2em;
  --angle: 0deg;

  background-origin: border-box;
  
  /* Remove the background-color to let gradient show */
  background-image: 
    linear-gradient(var(--angle), rgba(68, 0, 255, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(var(--angle), rgba(0, 217, 255, 0.8), rgba(0, 255, 0, 0) 70.71%);
  border: 0.3rem solid transparent;
  animation: rotateBackground 4s linear infinite;
  cursor: pointer;
}

button:hover {
  background-color: #00d2d6;
}

/* Labels and Text Styles */
.label {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.addedInfo {
  font-size: 9;
}

.taxLable {
  margin-top: -5%;
}

/* Scrollable Div Styles */
.scrollDiv {
  width: calc("100% + 9px");
}

.configDiv {
  line-height: 18px;
  height: 20vh;
  margin: 5%;
  float: left;
  overflow: auto;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}

.configDiv::-webkit-scrollbar {
  display: none;
}

/* Range Input Styles */
.taxRange {
  width: 30%;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 30%;
  font-size: 7;
}

option {
  padding: 0;
}

/* Landing Page Styles */
.landing-page {
  width: 100%;
  height: 100%;
}

/* Badge Level Div Styles */
.badgeLevelDiv {
  line-height: 18px;
  height: 85%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  min-width: 250px;
  margin-left: 5%;
  background-color: white;
  position: fixed;
  width: 20%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  float: left;
  overflow: auto;
  border: rgb(226, 226, 226) solid 8px;
  border-radius: 2vw;
}

.lineBreak::after {
  content: "\A";
  white-space: pre;
}

.disabledBadge {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-clip: border-box;
  border-color: rgb(122, 122, 122) !important;
}

.levelContainer {
  background-color: rgb(243, 243, 243);
  border: rgb(226, 226, 226) solid 8px;
  margin: 5px;
  padding: 5px;
  display: flex;
  min-height: 10px;
  border-radius: 2vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Team Box Styles */
.outer-box {
  position: absolute;
  top: calc(50vh - 208px);
  left: calc(50vw - 158px);
  display: none;
  z-index: 8;
  width: 300px;
  height: 400px;
  background-color: #3fcfffa1;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inner-box {
  width: 95%;
  height: 80%;
  background-color: #63f1f1;
  border-radius: 8px;
  padding: 5px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  cursor: pointer;
  color: black;
}

.close-btn:hover {
  color: rgb(255, 0, 0);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.btn {
  width: 48%;
  padding: 8px 0;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn-join {
  background-color: #1eafff;
  color: black;
  font-weight: bold;
}

.btn-create {
  background-color: #4287f5;
  color: black;
}

.btn:hover {
  opacity: 0.9;
}

/* Team Styles */
.containerA {
  width: 90%;
  height: 95%;
  z-index: 9;
  background-color: #5ce6e6;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  overflow-y: auto;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team {
  background-color: #32baff;
  color: black;
  text-align: center;
  padding: 10px 0;
  width: 90%;
  border-radius: 10px;
  margin: 5%;
  font-weight: bold;
}

/* Footer Styles */
.botton-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.ip-slecet {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Miscellaneous Styles */
.coolLineBreak {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  width: 70%;
  border-bottom: 1px solid #242424;
}

.centerer {
  display: block;
  justify-content: center;
  align-items: center;
}

.glow {
  border: thick double #1bfaf6;
}

/* Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
